# Editor settings
.idea/*
.vscode/*
!.idea/copyright/
!.idea/watcherTasks.xml
!.vscode/settings.json
!.vscode/extensions.json

# Editor run configurations
!.vscode/launch.json
!.vscode/tasks.json
!.run/

# Build artifacts
/target/

# direnv files
.direnv/*
.envrc

# env files
.env
*.env

# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

# Snapshot files
*.snap.new
