.idea/*
.vscode/*
!.idea/copyright/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.run/

node_modules/
dist/
/target/
*.node

*.log

.env
.env.*
!.env.example
