# Editor settings
.idea/*
.vscode/*
!.idea/copyright/
!.vscode/settings.json
!.vscode/extensions.json

# Editor run configurations
!.vscode/launch.json
!.vscode/tasks.json
!.run/

# Build artifacts
/target/

# direnv files
.direnv/*
.envrc
